// Based on Eric Meyer's reset, at http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
// Taken from Nicolas Gallagher's, at https://github.com/tj/nib

reset-box-model()
	margin 0
	padding 0
	border 0
	outline 0
	
reset-font()
	font-family inherit
	font-size 100%
	font-weight inherit
	font-style inherit
	vertical-align baseline
	
reset-table()
	border-collapse separate
	border-spacing 0
	vertical-align middle
	
reset-table-cell()
	text-align left
	font-weight normal
	vertical-align middle
	
