/**
 * Provides background-2x and background-image-2x properties, which are
 * equivalent to their non-2x versions, except that if they contains a url(...)
 * call, an "@2x" version of that URI will be used on retina devices.
 * For example, if you have "url(path/to/file.png)", then you should make sure
 * you also have file at "path/to/file@2x.png".
 */
background-2x()
	background arguments
	-background-2x-helper(arguments)

background-image-2x()
	background-image arguments
	-background-2x-helper(arguments)

-background-2x-helper(args)
	if list-separator(args) == ','
		urls = ()
		push(urls, -get-2x-url(-background-2x-last-image-node(arg))) for arg in args
	else
		urls = (null -get-2x-url(-background-2x-last-image-node(args)))
	if -contains-url-call(urls)
		query = -background-2x-query()
		@media query
			background-image -convert-to-list(urls) -get-priority(args)

-background-2x-query-fallback = unquote('(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx), print')
-background-2x-query()
	return (retina is defined and retina is a 'string') ? retina : -background-2x-query-fallback

-background-2x-last-image-node(args)
	len = length(args)
	return unquote('none') unless len
	return args[i] if -is-bg-image(args[i]) for i in (len - 1..0)
	return unquote('none')
