tablet-range = phone-range[1] desktop-range[0]

phone = 'all'
tablet = s('(min-width %s), print', tablet-range[0])
desktop = s('(min-width %s), print', desktop-range[0])

phone-only = s('screen and (max-width %s)', phone-range[1] - 0.1px)
tablet-only = s('screen and (min-width %s) and (max-width %s)', tablet-range[0], tablet-range[1] - 0.1px)
desktop-only = desktop

viewport-min = s('screen and (max-width %s)', phone-range[0])
viewport-max = s('screen and (min-width %s)', desktop-range[1])

retina = unquote('(-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx), print')

meta.limber-var-phone
	background-image phone
meta.limber-var-tablet
	background-image tablet
meta.limber-var-desktop
	background-image desktop
meta.limber-var-phone-only
	background-image phone-only
meta.limber-var-tablet-only
	background-image tablet-only
meta.limber-var-desktop-only
	background-image desktop-only
meta.limber-var-viewport-min
	background-image viewport-min
meta.limber-var-viewport-max
	background-image viewport-max
meta.limber-var-retina
	background-image retina
	
