assert(-is-positive-px-range(phone-range))
assert(-is-positive-px-range(desktop-range))
assert(-is-positive-number(retina-dppx))
assert(-is-color(primary-color))
assert(-is-color(secondary-color))
assert(-is-color(success-color))
assert(-is-color(failure-color))
assert(-is-color(disabled-color))
assert(-is-color(background-color))
assert(-is-color(foreground-color))
assert(-is-color(selection-color))
