/**
 * A backwards-compatible mixin for overflow, which provides the extra value
 * 'ellipsis', which is the same as "overflow: hidden", except that text will
 * be truncated to a single line, and overflowing text will cause an ellipsis
 * effect.
 */
overflow(value)
	if value == 'ellipsis'
		priority = -get-priority(arguments)
		overflow unquote('hidden') priority
		text-overflow unquote('ellipsis') priority
		white-space unquote('nowrap') priority
	else
		overflow arguments
		
