tablet-range = phone-range[1] desktop-range[0]

phone = s('screen and (max-width: %s)', phone-range[1] - 0.1px)
mobile = s('screen and (max-width: %s)', tablet-range[1] - 0.1px)
tablet = s('screen and (min-width: %s) and (max-width: %s)', tablet-range[0], tablet-range[1] - 0.1px)
booklet = s('(min-width: %s), print', tablet-range[0])
desktop = s('(min-width: %s), print', desktop-range[0])

viewport-min = s('screen and (max-width: %s)', phone-range[0])
viewport-max = s('screen and (min-width: %s)', desktop-range[1])

retina = s('(-webkit-min-device-pixel-ratio: %s), (min--moz-device-pixel-ratio: %s), (-o-min-device-pixel-ratio: %s/1), (min-device-pixel-ratio: %s), (min-resolution: %sdpi), (min-resolution: %sdppx), print', retina-dppx, retina-dppx, retina-dppx, retina-dppx, retina-dppx * 96, retina-dppx)

-define-var('phone', phone)
-define-var('mobile', mobile)
-define-var('tablet', tablet)
-define-var('booklet', booklet)
-define-var('desktop', desktop)
-define-var('viewport-min', viewport-min)
-define-var('viewport-max', viewport-max)
-define-var('retina', retina)
