/*==========================*
|        Media Ranges       |
*===========================*/

/**
 * These ranges determine the global breakpoints used for responsive design.
 * NOTE: tablet-range is implicitly between phone-range[1] and desktop-range[0].
 */

phone-range ?= 320px 768px
desktop-range ?= 1201px 1920px

/**
 * This is the minimum required device pixel ratio (device pixels per CSS pixel)
 * for the device to be considered retina.
 */

retina-dppx ?= 2

/*==========================*
|        Site Colors        |
*===========================*/

/**
 * This section defines the global colors required by other parts of limber.
 * The primary-color is automatically used for anchor tags.
 * The selection-color is automatically used for text selection.
 */

primary-color ?= #e5432a
secondary-color ?= #2aa3e5

success-color ?= #2aa3e5
failure-color ?= #e52a2a
disabled-color ?= #8e8e8e

background-color ?= #fff
foreground-color ?= #333
selection-color ?= alpha(primary-color, 0.3)

/*==========================*
|       Default Fonts       |
*===========================*/

/**
 * Each of the "base-" options below are used to style text inside p elements,
 * or text that is otherwise not styled.
 */

base-font-family ?= 'Helvetica Neue', 'Helvetica', sans-serif
base-font-size ?= 16px
base-font-weight ?= 400
base-font-style ?= normal
base-line-height ?= 1.5
paragraph-margin ?= 1.25em 0

/**
 * Each of the "heading-" options below can be specified with up to 6 values.
 * These values correspond to the h1, h2, h3, h4, h5, h6 elements, respectively.
 * If less than 6 values are specified, the remaining values default to the last
 * value specified. Unlike other options, these MUST be comma-separated lists.
 * If the values contain commas, those commas must be escaped (\,).
 */

heading-font-family ?= 'Helvetica Neue'\, 'Helvetica'\, sans-serif
heading-font-size ?=  3em, 2.66667em, 2em, 1.33333em, 1em, 0.8em
heading-font-weight ?= 700
heading-font-style ?= normal
heading-line-height ?= 1.25
heading-margin ?= 0.5em 0

/**
 * Because limber is a mobile-first framework, the font options above apply
 * directly to phone-sized viewports. It is common to want different font sizes
 * on tablet or dekstop screens. You can use the "font-scale-" options below to
 * accomplish this.
 * Each of the "font-scale-" options below will modify the default font size by
 * the given factor.
 *
 * NOTE:
 * Just as with the "heading-" options above, font-scale-heading-tablet and
 * font-scale-heading-desktop can accept up to six comma-separated values.
 */

font-scale-base-tablet ?= 1
font-scale-base-desktop ?= 1
font-scale-heading-tablet ?= 1.5
font-scale-heading-desktop ?= 2, 1.5
