assert(-is-positive-px-range(phone-range), 'must be a proper range of px values')
assert(-is-positive-px-range(desktop-range), 'must be a proper range of px values')
assert(-is-positive-number(retina-dppx), 'must be a positive, unitless number')
assert(-is-color(primary-color), 'must be a color')
assert(-is-color(secondary-color), 'must be a color')
assert(-is-color(success-color), 'must be a color')
assert(-is-color(failure-color), 'must be a color')
assert(-is-color(disabled-color), 'must be a color')
assert(-is-color(background-color), 'must be a color')
assert(-is-color(foreground-color), 'must be a color')
assert(-is-color(selection-color), 'must be a color')
assert(-is-positive-number(font-scale-base-tablet), 'must be a positive number')
assert(-is-positive-number(font-scale-base-desktop), 'must be a positive number')
assert(-is-list-of-positive-numbers(font-scale-heading-tablet), 'must be a positive number, or a comma-separated list of such')
assert(-is-list-of-positive-numbers(font-scale-heading-desktop), 'must be a positive number, or a comma-separated list of such')
