assert(-is-positive-px-range(phone-range), 'must be a proper range of px values')
assert(-is-positive-px-range(desktop-range), 'must be a proper range of px values')
assert(-is-positive-number(retina-dppx), 'must be a positive, unitless number')
assert(-is-color(primary-color), 'must be a color')
assert(-is-color(secondary-color), 'must be a color')
assert(-is-color(success-color), 'must be a color')
assert(-is-color(failure-color), 'must be a color')
assert(-is-color(disabled-color), 'must be a color')
assert(-is-color(background-color), 'must be a color')
assert(-is-color(foreground-color), 'must be a color')
assert(-is-color(selection-color), 'must be a color')
// assert(-is-positive-number(font-scale-tablet-base))
// assert(-is-positive-number(font-scale-tablet-heading))
// assert(-is-positive-number(font-scale-desktop-base))
// assert(-is-positive-number(font-scale-desktop-heading))